<!--The content below is only a placeholder and can be replaced.-->
<input placeholder="your todo" [(ngModel)]="todo">

<button (click)="addTodo(todo)" [disabled]="!todo" *ngIf="!editing">
  Add todo
</button>

<button (click)="updateTodo(todo)" *ngIf="editing">
  Update
</button>
<button (click)="cancelEdit()" *ngIf="editing">
  Cancel
</button>

<pre>{{ this.todos | json }}</pre>
<ul>
  <li *ngFor="let todo of todos$ | async">
    <span [class.done]="todo.done"></span>
    <button (click)="editTodo(todo)">Edit</button>
    <button (click)="toggleDone(todo)">Toggle Done</button>
    <button (click)="deleteTodo(todo.id)">X</button>
  </li>
</ul>